*{
   font-family: "Sora", sans-serif;
   text-decoration: none;
}
a{
   text-decoration: none; 
}
header{
    background-color: #101828;
}
header ul li{
    margin-left: 20px;
}

#bannerSlider .carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.home-banner form{
    background-color: #101828;
}
.custom-color{
    background-color: #10182A;
}

.new_course_card {
    min-height: 420px;
    background: url(/images/courses-card-bg.webp) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.new_course_card h3{
    font-size: 40px;
    text-shadow: 2px 2px  white;

}
.why-choosetext h5{
    font-size: 17px;
}
.why-choosetext p{
    font-size: 14px;
}
.accordion-body{
    font-size: 14px;
}
footer{
    background-color: #101828;
}
.f-text{
    font-size: 15px;
    font-weight: 200;
}
.row1 p a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.row1 h5{
   font-size: 15px;
}
.row2{
    padding-top: 35px;
}
.row2 p a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.footer2 p{
    color: white;
    font-size: 14px;
}
.social-icon i{
    color: #98A2B3;
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
}
.social-icon i:hover{
    color: blue;
}
