*{
   font-family: "Sora", sans-serif;
   text-decoration: none;
}
a{
   text-decoration: none; 
}
header{
    background-color: #101828;
}
header ul li{
    margin-left: 20px;
}
.home-banner {
    background: linear-gradient(261.99deg, #ffe3dd 2.82%, #fff8da 17.1%, rgba(255, 249, 221, 0) 31.78%, hsla(0, 100%, 90%, .04) 50.27%, rgba(255, 249, 221, .35) 67.28%, #ffeee9 77.89%, rgba(255, 238, 233, .14) 91.09%);
}
#bannerSlider .carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.home-banner form{
    background-color: #101828;
}
.custom-color{
    background-color: #10182A;
}
.accordion-body{
    font-size: 14px;
}
footer{
    background-color: #101828;
}
.f-text{
    font-size: 15px;
    font-weight: 200;
}
.row1 p a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.row1 h5{
   font-size: 15px;
}
.row2{
    padding-top: 35px;
}
.row2 p a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.footer2 p{
    color: white;
    font-size: 14px;
}
.social-icon i{
    color: #98A2B3;
    font-size: 20px;
    margin-left: 10px;
    text-align: center;
}
.social-icon i:hover{
    color: blue;
}
